<nav class="mb-1 navbar navbar-expand-sm navbar-light bg-light">
  <!-- Container wrapper -->
    <button class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-center " style = "background-color: #28527a;" id="navbar">
      <ul class="navbar-nav nav-tabs mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">&nbsp;Home&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/livescore">&nbsp;Livescore&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/fixtures">&nbsp;Fixtures&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/team">&nbsp;Search Team&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">&nbsp;AboutUs&nbsp;&nbsp;</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  <!-- Container wrapper -->
</nav>